In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read_csv('C://Users/Admin/Downloads/KNNDataset.csv')

In [3]:
data

   x  y     class
0  2  4  Negative
1  4  6  Negative
2  4  4  Positive
3  4  2  Negative
4  6  4  Negative
5  6  2  Positive

In [10]:
X = data.iloc[:,0:2]
y = data.iloc[:,-1]

In [9]:
X

   x  y
0  2  4
1  4  6
2  4  4
3  4  2
4  6  4
5  6  2

In [11]:
y

0    Negative
1    Negative
2    Positive
3    Negative
4    Negative
5    Positive
Name: class, dtype: object

In [12]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)

In [13]:
model = knn.fit(X,y)

In [14]:
model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [25]:
y_pred = [[6,6]]

print("Locally weighted: ",model.predict(y_pred))

Locally weighted:  ['Negative']

In [18]:
knn1 = KNeighborsClassifier(n_neighbors=3, weights='distance')

model1 = knn1.fit(X,y)

In [26]:
model1

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='distance')

In [27]:
print("Distance weighted: ",model1.predict(y_pred))

Distance weighted:  ['Negative']